<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h2>Update Password</h2>
    <form method="post">
        {% csrf_token %}
        <label for="current_psw">Current Password:</label><br>
        <input type="password" id="current_psw" name="current_psw" required><br><br>
        <label for="psw">New Password:</label><br>
        <input type="password" id="psw" name="psw" required><br><br>
        <label for="psw-repeat">Confirm Password:</label><br>
        <input type="password" id="psw-repeat" name="psw-repeat" required><br><br>
        <button type="submit">Reset Password</button>
    </form>
</body>
</html>
